*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: Arial;
}

/* ------ Navigation Bar ------ */
.navbar_links a:hover{
    font-size: 1.01rem;
    font-weight: bold;
}

header{
    position: relative;
    padding: 0 2rem;
    background-color: #012060
}

.navbar{
    width: 100%;
    height: 60px;
    /*max-width: 1200px;*/
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar_logo a{
        background-color: #012060; /*Fondo de logo ar azul*/
    }

    .navbar_links{
        display: flex;
        gap: 2rem;
    }

    .navbar_links li{
        list-style: none;
    }
    
    .navbar_links a{
        text-decoration: none;
        color: #FFF;
        font-size: 1rem;
    }

    .navbar_links i{
        margin-left: auto; /*Pasamos flecha de sub menu hacia la derecha*/
        transform: var(--rotate, 0); /*Creamos la custom property "rotate" para hacer que rote 180° la flecha del sub menu*/
        transition: .2s transform;
    }

    .navbar_links .dropdown_check{
        position: absolute;
        margin-left: -15px; /*Está a 180 px de la izquierda a la derecha el checkbox*/
        margin-top: -7px;
        width: 20px;
        height: 50%; /*100% Para que abarque toda la casilla del link(manuf, mrkt seg, prod, distri*/
        opacity: 0; /*Para ocultar el checkbox 0 para que no se vea*/
        cursor: pointer;
    }
    

    .dropdown_content{
        position: absolute;
        display: grid;
        grid-template-rows: var(--rows, 0fr); /* Creamos custom property "rows" y si no encuentra la custom property Ocultamos la sub lista del menu principal*/
        transition: .3s grid-template-rows;
        z-index: 10;
    
    
        .dropdown_sub_main_menu{
            border-radius: 10px;
            overflow: hidden; /*todo lo que salga de este elemento se esconda*/
            /*background-color: rgb(38, 40, 143); /*asignamos color a el contenedor de la sub lista dropdown*/
        }
    
        .dropdown_sub_main_list{
            left: 0;
            list-style: none; /*le quitamos el estilo de lista*/
            margin-left: auto; /*manda a la derecha los items*/
            width: 150px;
        }
    
        .dropdown_sub_item{
            padding: .5em 10%;
            display: block;
            color: #FFFFFF;
            text-decoration: none; /*quitamos la decoracion de los enlaces (subrayado)*/
            background-color: #012060;
        }
    }

    .toggle_btn{
        color: #FFF;
        font-size: 1.5rem;
        cursor: pointer;
        display: none;
    }
}

.nabvarsubmenu:has( :checked){ /*Ponemos la condicion de que si un item del menu ha sido markado con check del checkbox*/
    --rows: 1fr; /* creamos custom property "rows" para asignarle valor de 1 fracción para que se muestre el sub menu*/
    --rotate: rotate(180deg); /*Cada que se seleccione el checkbox va a rotar la flecha (de apuntar hacia abajo a apuntar hacia arriba*/
}


.contact_btn{
    color: #012060;
    background-color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale .2 ease;
    text-decoration: none;
}

.contact_btn:hover{
    scale: 1.05;
    font-size: 0.9rem;
}

.contact_btn:active{
    scale: 0.95;
}

/*NAVBAR DROPDOWN MENU*/
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    background: #012060;
    backdrop-filter: blur(15px);
    border-radius: 5px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    .navbar_links{
        display: flow-root;
        gap: 2rem;
    }

    .navbar_links li{
        padding: 0.7rem;
        display: block;
        margin-left: 10px;
        margin-right: 10px;
        list-style: none;
    }
    
    .navbar_links a{
        text-decoration: none;
        color: #FFF;
        font-size: 1rem;
    }

    .navbar_links i{
        margin-left: auto; /*Pasamos flecha de sub menu hacia la derecha*/
        transform: var(--rotate, 0); /*Creamos la custom property "rotate" para hacer que rote 180° la flecha del sub menu*/
        transition: .2s transform;
    }

    .contact_btn{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em;
    }

    .navbar_links .dropdown_check{
        position: absolute;
        top: auto;
        left: auto;
        width: 20px;
        height: 20px; /*100% Para que abarque toda la casilla del link(manuf, mrkt seg, prod, distri*/
        opacity: 0; /*Para ocultar el checkbox 0 para que no se vea*/
        cursor: pointer;
        z-index: 2;
    }

    .dropdown_content{
        position: static;
        display: grid;
        grid-template-rows: var(--rows, 0fr); /* Creamos custom property "rows" y si no encuentra la custom property Ocultamos la sub lista del menu principal*/
        transition: .3s grid-template-rows;
    
    
        .dropdown_sub_main_menu{
            border-radius: 10px;
            overflow: hidden; /*todo lo que salga de este elemento se esconda*/
            /*background-color: rgb(38, 40, 143); /*asignamos color a el contenedor de la sub lista dropdown*/
        }
    
        .dropdown_sub_main_list{
            left: 0;
            list-style: none; /*le quitamos el estilo de lista*/
            margin-left: auto; /*manda a la derecha los items*/
            width: auto;
        }
    
        .dropdown_sub_item{
            padding: 0;
            display: block;
            color: #FFFFFF;
            text-decoration: none; /*quitamos la decoracion de los enlaces (subrayado)*/
            background-color: #012060;
        }
    }
}

.dropdown_menu.open {
    height: auto;
    z-index: 10;
}

/*NAVBAR RESPONSIVE*/
@media (max-width: 1100px) {
    .navbar .navbar_links,
    .navbar .contact_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media (max-width: 500px) {
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }

    .dropdown_menu li{
        justify-content: center;
    }
}



/* ------ Footer Section ------ */
.footer{
    width: auto;
    background-size: cover;
    padding: 100px 0;
}

.footer_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    margin: auto;
    margin-top: none;
    background-color: #012060;
}

.footer_item{
    display: flex; /*se ajustan los items al tamaño de la pagina*/
    flex-direction: column; /*ponemos los items del footer en columnas*/
    padding: 10px; /*distancia entre columnas*/
    margin-left: 25px;
    margin-right: 25px;
}

.footer_item .footer_logo img{
    width: 75px; /*tamaño de imagen*/
    margin-left: 130px;
}

.footer_item .footer_terms{
    max-width: 350px; /*tamaño max de los terms*/
    margin-top: 20px; /*distancia entre logo y terms*/
    font-weight: 500; /*letra de terms mas gruesa*/
    color: #949494; /*color gris de texto terms*/
    font-size: 13px;
}

.footer_item h2{
    margin-bottom: 13px; /*separamos encabezado de opciones*/
}

.footer_item h2 a{
    text-decoration: none; /*quitamos decoracion de link al texto de encabezados*/
    color: #c3c3c3;
    font-weight: 700; /*mas grueso*/
    font-size: 15px;
}

.footer_item a{
    margin-top: 7px; /*margen a las opciones de footer*/
    text-decoration: none;/*quitamos decoracion de link*/
    color: #949494;
    font-weight: 500; /*mas grueso*/
    font-size: 13px;
}

.footer_item a:hover{
    opacity: 0.8; /*se opaca texto al pasar cursor en items del footer*/
}

.box_copyright{
    max-width: 100%;
    margin: auto;
    background-color: #012060;
    text-align: center;
    color: #949494;
    padding: 20px 0px;
}

/* ------ Main page section ------ */
.home_img {
    position: relative;

  
  .main_image {
    width: 100%; /* Cover the entire width of the page */
    max-height: 600px; /* set max heigh of the image*/
    height: auto;
  }
  
  .main_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%); /* Center the logo vertically and horizontally */
    z-index: 1; /* Place the logo in front of the main_image */
    background-color: #FFFFFF;
    opacity: .5;
    border-radius: 25%;
  }

  .main_ar {
    position: absolute;
    top: 10px; /* Adjust as needed to position it at the top of the main_image */
    margin-top: 15px;
    left: 50%;
    transform: translateX(-50%); /* Center the text horizontally */
    z-index: 2; /* Place the text in front of the main_image */
    text-align: center;
    max-width: 1000px;
    color: #FFFFFF; /* Text color */
    background-color: none;
    opacity: .7;
    text-decoration-color: #012060;
    font-size: 25px;
  }
  
  .main_slog {
    position: absolute;
    bottom: 10px; /* Adjust as needed to position it at the bottom of the main_image */
    margin-bottom: 10px;
    left: 50%;
    transform: translateX(-50%); /* Center the text horizontally */
    z-index: 2; /* Place the text in front of the main_image */
    text-align: center;
    color: #FFFFFF; /* Text color */
    background-color: none;
    opacity: .7;
    text-decoration-color: #012060;
    font-size: 25px;
  }
}
.main_body_container {
    display: grid;
    grid-template-columns: 3fr 2fr; /* Two equal-width columns */
    grid-template-rows: 40px auto 40px auto 40px auto 40px auto; /* 8 rows 40px and 200px height */
    gap: 10px; /* Adjust the gap between grid items */
    width: 100%;
  
    /* Styling for grid items */
    .main_title {
      grid-column: span 2; /* Span across both columns */
      background: linear-gradient(to right, #012060, #fff); /* Background color for title rows */
      color: #fff; /* Text color for titles */
      padding: 5px;
      text-align: left;
      font-size: 25px;
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .main_text {
      grid-column: span 1; /* Span one column */
      padding: 10px;
      margin-left: 30px;
      margin-right: 20px;
      font-size: 18px;
    }
  
    .main_img_body {
      grid-column: span 1; /* Span one column */
      max-height: 180px;
      margin: auto;
      align-self: center;
    }
  }

.main_search_button{
    display: block;
    color: #FFFFFF;
    background-color: #012060;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.main_search_button:hover{
    opacity: 0.8; /*se opaca texto al pasar cursor en items del footer*/
}

.Alexander_Graham{
    display: block;
    margin-top: 10px;
    background: linear-gradient(to bottom, #FFFFFF, #868686);
    color: #012060;
    font-weight: 600;
    width: 100%;
}

/* ------ About page section ------ */
.about_body_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Tree equal-width columns */
    gap: 10px; /* Adjust the gap between grid items */
    margin-left: 20px;
    margin-right: 20px;

    .about_title{
        width: 100%;
        grid-column: span 3; /*aparece en 3 columnas*/
        margin-top: 30px;
    }
    
    .about_main_text{
        width: 100%;
        grid-column: span 2; /*aparece en 2 columnas*/
    }

    .ar_team_img{
        width: calc(100% - 60px); /* Calcula el ancho después de añadir los márgenes */
        max-height: auto; /*set max heigh for team image*/
        align-items: center;
        min-width: 300px;
    }

    .about_text{
        width: calc(100% - 60px); /* Calcula el ancho después de añadir los márgenes */
        grid-column: span 3;
    }
}


.timeline_container{
    position: relative;
    max-width: 90%;
    margin: 100px auto;
}

.timeline_event{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

/*despliega el timeline de uno por uno AGREGAR MAS SI SE NECESITAN*/
.timeline_event:nth-child(1){
    animation-delay: 0s;
}
.timeline_event:nth-child(2){
    animation-delay: 1s;
}
.timeline_event:nth-child(3){
    animation-delay: 2s;
}
.timeline_event:nth-child(4){
    animation-delay: 3s;
}

.timeline_content{
    padding: 20px 30px;
    background: linear-gradient(to bottom, #FFFFFF, #868686);
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.timelaine_content h3{
    font-weight: 700;
}

.timeline_content small{
    display: inline-block;
    margin-bottom: 15px;
}

.timeline_left{
    left: 0;
}

.timeline_right{
    left: 50%; /*container aparece en la derecha*/
}

.left_container_arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 20%;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #012060;
    right: -15px;
}

.right_container_arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 20%;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #012060;
    left: -15px;
    rotate: 180deg;
}

.timeline_container::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: #012060;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 4s linear forwards;
}

@media screen and (max-width:750px){
    .timeline_container{
        margin: 50px auto;
    }
    .timeline_container::after{
        left: 31px;
    }
    .timeline_event{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .timelaine_content{
        font-size: 13px;
    }
    .timelaine_content small{
        margin-bottom: 10px;
    }
    .timeline_right{
        left: 0;
    }
    .timeline_left img, .timeline_right img{
        left: 10px;
    }
    .left_container_arrow, .right_container_arrow{
        border-right: 15px solid #012060;
        border-left: 0;
        left: -15px;
        rotate: 0deg;
    }
    .ar_team_img{
        min-width: 300px;
    }
}

.timeline_img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.timeline_img_left{
    left: -20px;
    /*left: 94.5%; /*alineamos al centro la imagen del texto de la izquierda*/
}


@keyframes moveline{
    0%{height: 0;}
    100%{height: 100%;}
}



/* ------ Manufacturers page section ------ */
.manufacturers_title{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Tree equal-width columns */
    align-items: center;

    .main_manufacturers{
        margin-top: 20px;
        margin-bottom: 40px;
        justify-self: center;
    }
}

#principal_accordion{
    width: 100%;
}

#principal_accordion li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
}

#principal_accordion li label{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    color: #012060;
}

#principal_accordion li label img{
    max-height: 70px;
    max-width: 100px;
}

#principal_accordion li label span{
    font-size: 22px;
    font-weight: 700;
    color: #012060;
}

#principal_accordion label + input[type="checkbox"]{
    display: none;
}

#principal_accordion .principals_content{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease;
}

#principal_accordion label + input[type="checkbox"]:checked ~ .principals_content{
    max-height: 100%;
}

.principals_content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(1fr);
    gap: 30px;
    margin: 50px; /* 20px margin left and right */
}
  
.principals_content li {
    text-align: center;
    list-style: none;
}
  
.principal_logo img {
    width: 100%;
    max-height: 500px;
    border-radius: 5px;
    border: 1px solid #ddd; /* Add a border for a clean look */;
    transition: transform 0.3s; /* Add a smooth hover effect */
}

.principal_logo img:hover {
    transform: scale(1.1); /* Increase the size on hover */
}

.principal_name {
    display: block;
    margin-top: 10px; /* Adjust as needed */
    text-decoration: none;
    color: #000; /* Adjust the color as needed */
    font-weight: bold;
}

@media (max-width: 768px) {
    .principals_content {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
}

/* ------ Distributors page section ------ */
.distributors_title{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Tree equal-width columns */
    align-items: center;

    .main_distributors{
        margin-top: 20px;
        margin-bottom: 40px;
        justify-self: center;
    }
}

#distributors_accordion{
    width: 100%;
}

#distributors_accordion li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
}

#distributors_accordion li label{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    color: #012060;
}

#distributors_accordion li label img{
    max-height: 70px;
    max-width: 100px;
}

#distributors_accordion li label span{
    font-size: 22px;
    font-weight: 700;
    color: #012060;
}

#distributors_accordion label + input[type="checkbox"]{
    display: none;
}

#distributors_accordion .distributors_content{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease;
}

#distributors_accordion label + input[type="checkbox"]:checked ~ .distributors_content{
    max-height: 100%;
}

.distributors_content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(1fr);
    gap: 30px;
    margin: 50px; /* 20px margin left and right */
}
  
.distributors_content li {
    text-align: center;
    list-style: none;
}
  
.distributor_logo img {
    width: 100%;
    max-height: 500px;
    border-radius: 5px;
    border: 1px solid #ddd; /* Add a border for a clean look */;
    transition: transform 0.3s; /* Add a smooth hover effect */
}

.distributor_logo img:hover {
    transform: scale(1.1); /* Increase the size on hover */
}

.distributor_name {
    display: block;
    margin-top: 10px; /* Adjust as needed */
    text-decoration: none;
    color: #000; /* Adjust the color as needed */
    font-weight: bold;
}

@media (max-width: 768px) {
    .distributors_content {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
}

/* ------ Market Segments page section ------ */

.marketseg_title{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Tree equal-width columns */
    align-items: center;

    .main_marketseg{
        margin-top: 20px;
        margin-bottom: 40px;
        justify-self: center;
    }
}

.marketseg_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(1fr);
    gap: 30px;
    margin-bottom: 30px;
    margin-left: 20px;  /* Margen izquierdo */
    margin-right: 20px; /* Margen derecho */
    width: 100%;
}

.marketseg_grid li{
    text-align: center;
    list-style: none;
}

.marketseg_grid li a b{
    text-decoration: none;
}

.market_name{
    display: block;
    margin-top: 10px; /* Adjust as needed */
    text-decoration: none;
    color: #000; /* Adjust the color as needed */
    font-weight: bold;
}

.marketseg_grid img {
    width: 100%;
    max-height: 500px;
    border-radius: 5px;
    border: 1px solid #ddd; /* Add a border for a clean look */;
    transition: transform 0.3s; /* Add a smooth hover effect */
}

.marketseg_grid img:hover {
    transform: scale(1.1); /* Increase the size on hover */
}

/* ------ Contact page section ------ */

.contact_title{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Tree equal-width columns */
    align-items: center;

    h1{
        margin-top: 20px;
        margin-bottom: 40px;
        justify-self: center;
    }
}


.contact_box{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "form"
    "info"
    "map";
    grid-gap: 20px;
    margin-top: 20px;
    width: 100%;

    .contact{
        padding: 40px;
        background-color: #FFF;
        box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);

        h3{
            color:  #012060;
            font-size: 25px;
        }

        .formBox{
            position: relative;
            width: 100%;
        }

        .formBox .row50{
            display: flex;
            gap: 20px;
        }
        
        .inputBox{
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            width: 50%;

            span{
                color: #012060;
                margin-top: 10px;
                margin-bottom: 5px;
                font-weight: 500;
            }

            input{
                padding: 10px;
                font-size: 1em;
                outline: none;
                border: 1px solid #012060;
            }

            textarea{
                padding: 10px;
                font-size: 1em;
                outline: none;
                border: 1px solid #012060;
                resize: none;
                min-height: 250px;
                margin-bottom: 10px;
            }
        }
        .formBox .row100 .inputBox{
            width: 100%;
        }

        .formBox .row100 .inputBox input{
            background: #012060;
            color: #FFF;
            border: none;
            font-size: 1.1em;
            max-width: 150px;
            font-weight: 500;
            cursor: pointer;
            padding: 14px 15px;
            width: 100%;
        }

        .infoSelect {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: start;
          }

          .infoSelect img {
            top: 50px;
            width: 40px; /* ajusta el tamaño de la imagen */
            height: 30px;
            margin: 0px;
            position: relative; /* posición relativa para que se pueda superponer el checkbox */
          }
          
          .infoSelect .contactInfoCheck{
            width: 50px; /* ajusta el tamaño de la imagen */
            height: 40px;
            position: relative; /* posición absoluta para que se superponga a la imagen */
            left: -5px; /* ajusta la posición del checkbox a la izquierda de la imagen */
            top: 10px; /* ajusta la posición del checkbox a la parte superior de la imagen */
            opacity: 0;
            cursor: pointer;
            }
          
        
        .infoBox{
            position: absolute;
            display: flex;
            flex-direction: column;
        }

            .contactMX, .contactUSA, .contactBR {
                display: none;
                position: relative;
                top: -200px;
                left: 150px;
            }
        .infoBox h2{
            margin-left: 0px;
        }

        .infoBox ul{
            margin-left: 0px;
            margin-top: 20px;
        }

        .infoBox li{
            list-style: none;
            padding-top: 10px;
        }

        .phoneInfo{
            position: relative;
            margin-top: 15px;
            margin-left: 0px;
        }

        .infoBox i{
            color: #012060;
        }
    }
    
    #mapid { 
        height: 400px;
        width: 100%;
    }

    .inputBox ::placeholder{
        color: #999;
    }

    .form{
        grid-area: form;
    }

    .info{
        grid-area: info;
    }

    .map{
        grid-area: map;
    }   
}
@media (min-width: 1040px) { /* Para tablets y pantallas más grandes */
    .contact_box {
        grid-template-columns: 2fr 1.3fr; /* Originalmente estaba así para pantallas más grandes */
        grid-template-rows: auto auto;
        grid-template-areas: 
        "form info"
        "form map";
        margin-left: 40px;  /* Margen izquierdo */
        margin-right: 40px; /* Margen derecho */
        width: calc(100% - 60px); /* Calcula el ancho después de añadir los márgenes */
    }
    .contact_box .formBox .row100 .inputBox input {
        max-width: 200px; /* Restringe el tamaño del botón en pantallas más grandes */
    }
    .contact_box .infoBox h2, .contact_box .infoBox ul {
        margin-left: 50px; /* Restaura el margen para pantallas más grandes */
    }
    .main_body_container{
        margin-left: 40px;  /* Margen izquierdo */
        margin-right: 40px; /* Margen derecho */
        width: calc(100% - 60px); /* Calcula el ancho después de añadir los márgenes */
    }
    .Alexander_Graham{
        margin-left: 40px;  /* Margen izquierdo */
        margin-right: 40px; /* Margen derecho */
        width: calc(100% - 60px); /* Calcula el ancho después de añadir los márgenes */
    }
    .about_body_container{
        margin-left: 40px;  /* Margen izquierdo */
        margin-right: 40px; /* Margen derecho */
        width: calc(100% - 60px); /* Calcula el ancho después de añadir los márgenes */
    }
    #principal_accordion{
        margin-left: 40px;  /* Margen izquierdo */
        margin-right: 40px; /* Margen derecho */
        width: calc(100% - 60px); /* Calcula el ancho después de añadir los márgenes */
    }
    #distributors_accordion{
        margin-left: 40px;  /* Margen izquierdo */
        margin-right: 40px; /* Margen derecho */
        width: calc(100% - 60px); /* Calcula el ancho después de añadir los márgenes */
    }
    .marketseg_grid {
        margin-left: 40px;  /* Margen izquierdo */
        margin-right: 40px; /* Margen derecho */
        width: calc(100% - 60px); /* Calcula el ancho después de añadir los márgenes */
    }
}