*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: Arial;
}

/* Navigation Bar */
.main_navbar{
    background-color: #012060;

    --img1: scale(1);
    --img2: scale(0);
}
/*Si main_navbar tiene un hijo con la clase main_menu va a revisar (target) si ha sido seleccionada*/
.main_navbar:has(.navbar_menu:target){
    --img1: scale(0);
    --img2: scale(1);

    --clip: inset(0 0 0 0); /*Se muestra el menú si detecta que di click a el icono de las barras del menu principal*/
}

.main_navbar_container{
    width: 95%;
    margin: 0 auto; /*centramos horizontalmete el contenedor*/
    height: 100px;

    display: grid;
    grid-template-columns: max-content max-content; /*Dos columnas de maximo contenido*/
    grid-template-areas: "logo toggle"; /*Asignamos los nombres de las areas de columnas*/
    justify-content: space-between; /*Contenido se va a las orillas*/
    align-items: center; /*Contenido centrado center*/

    overflow: hidden; /*Todo lo que sale se esconde*/
}

.navbar_logo{
    background-color: #012060; /*Fondo de logo ar blanco*/
    grid-area: logo; /*Le asignamos el area logo*/
}

.nav_menu{
    grid-area: toggle; /*Le asignamos el area toggle*/
    position: relative; 
    z-index: 4;

    transform: var(--img1);
}

.nav_menu_second{
    transform: var(--img2);
}

.main_nav_icon{
    width: 30px; /*Tamaño de las barras del menu y 'x'*/
    display: block;
}

.navbar_menu{
    position: fixed; /*absolute para que se quede estatico y se quite si bajo mucho en la pagina, con fixed se queda fijo aun que baje scroll en la pagina*/
    background-color: #012060;
    width: 100%; /*75%*/
    max-width: 300px;
    right: 0; /*El menu se despliega a la derecha en 0*/
    top: 0;   /*El menu se despliega de arriba en 0*/
    bottom: 0; /*El menu se despliega hasta abajo en 0*/
    padding: 1rem; /*Le doy padding para los elementos de la lista del menu principal*/

    display: grid;
    align-content: center;
    gap: .2rem;/*Le doy un espacio entre los elementos de la lista del menu principal*/
    
    overflow-y: auto; /*le ponemos scroll a el menú ya que es mas grande de lo que puede mostrar en la pagina, auto tambien funciona*/

    clip-path: var(--clip, inset(0 0 100% 100%)); /*Creo variable --clip para que si no se encuentra la variable toma el valor por defecto (oculto el menú)*/
    transition: clip-path .5s;
    z-index: 3;
}

.navbar_item{
    list-style: none;
}

.navbar_links{
    color: white; /*color de leteas de la lista en blanco*/
    padding: 1em .7em; /*damos un padding de 1 arriba y abajo y .7 a los costados*/
    text-decoration: none; /*quitamos la decoracion de enlase (subrayado)*/

    display: flex; /*poner un elemento de lado del otro*/
    align-items: center;
    gap: .6rem;

    position: relative;
    background-color: var(--bg, transparent); /*le asigno el color y que sea transparente cuando selecciono elemento de main menu*/
    border-radius: 6px; /*redondeo los cuadros de seleccion en main menu*/
}

.navbar_item:has( :checked){ /*Ponemos la condicion de que si un item del menu ha sido markado con check del checkbox*/
    --rows: 1fr; /* creamos custom property "rows" para asignarle valor de 1 fracción para que se muestre el sub menu*/
    --rotate: rotate(180deg); /*Cada que se seleccione el checkbox va a rotar la flecha (de apuntar hacia abajo a apuntar hacia arriba*/
    --bg: #ffffff58; /*el background color para cuando se selecciona un elemento de el main menu (Blanco transparente)*/
}

.navbar_icons{
    max-width: 50px; /*Le damos el tamaño de los iconos del menú principal*/
    max-height: 50px; /*Le damos el tamaño de los iconos del menú principal*/

}

.dropdown_arrow{
    max-width: 20px; /*Le damos el tamaño de los iconos de submenus del menú principal*/
    max-height: 20px; /*Le damos el tamaño de los iconos de submenus del menú principal*/
}

.dropdown_check{
    position: absolute;
    margin-left: 180px; /*Está a 180 px de la izquierda a la derecha el checkbox*/
    width: 50%;
    height: 50%; /*100% Para que abarque toda la casilla del link(manuf, mrkt seg, prod, distri*/
    opacity: 0; /*Para ocultar el checkbox 0 para que no se vea*/
    cursor: pointer;
}

.dropdown_arrow{
    margin-left: auto; /*Pasamos flecha de sub menu hacia la derecha*/
    transform: var(--rotate, 0); /*Creamos la custom property "rotate" para hacer que rote 180° la flecha del sub menu*/
    transition: .2s transform;
}

.dropdown_content{
    display: grid;
    grid-template-rows: var(--rows, 0fr); /* Creamos custom property "rows" y si no encuentra la custom property Ocultamos la sub lista del menu principal*/
    transition: .3s grid-template-rows;
}

.dropdown_sub_main_menu{
    overflow: hidden; /*todo lo que salga de este elemento se esconda*/
    /*background-color: rgb(38, 40, 143); /*asignamos color a el contenedor de la sub lista dropdown*/
}

.dropdown_sub_main_list{
    width: 85%;
    list-style: none; /*le quitamos el estilo de lista*/
    margin-left: auto; /*manda a la derecha los items*/
}

.dropdown_sub_item{
    padding: .5em 0;
    display: block;
    color: #FFFFFF;
    text-decoration: none; /*quitamos la decoracion de los enlaces (subrayado)*/
}

/* Footer Section */
.footer{
    width: auto;
    background-size: cover;
    padding: 100px 0;
}

.footer_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    margin: auto;
    margin-top: none;
    background-color: #012060;
}

.footer_item{
    display: flex; /*se ajustan los items al tamaño de la pagina*/
    flex-direction: column; /*ponemos los items del footer en columnas*/
    padding: 10px; /*distancia entre columnas*/
    margin-left: 25px;
    margin-right: 25px;
}

.footer_item .footer_logo img{
    width: 75px; /*tamaño de imagen*/
    margin-left: 130px;
}

.footer_item .footer_terms{
    max-width: 350px; /*tamaño max de los terms*/
    margin-top: 20px; /*distancia entre logo y terms*/
    font-weight: 500; /*letra de terms mas gruesa*/
    color: #949494; /*color gris de texto terms*/
    font-size: 13px;
}

.footer_item h2{
    margin-bottom: 13px; /*separamos encabezado de opciones*/
}

.footer_item h2 a{
    text-decoration: none; /*quitamos decoracion de link al texto de encabezados*/
    color: #c3c3c3;
    font-weight: 700; /*mas grueso*/
    font-size: 15px;
}

.footer_item a{
    margin-top: 7px; /*margen a las opciones de footer*/
    text-decoration: none;/*quitamos decoracion de link*/
    color: #949494;
    font-weight: 500; /*mas grueso*/
    font-size: 13px;
}

.footer_item a:hover{
    opacity: 0.8; /*se opaca texto al pasar cursor en items del footer*/
}

.box_copyright{
    max-width: 100%;
    margin: auto;
    background-color: #012060;
    text-align: center;
    color: #949494;
    padding: 20px 0px;
}

/* Main Body */
.home_img {
    position: relative;

  
  .main_image {
    width: 100%; /* Cover the entire width of the page */
    max-height: 600px; /* set max heigh of the image*/
    height: auto;
  }
  
  .main_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%); /* Center the logo vertically and horizontally */
    z-index: 1; /* Place the logo in front of the main_image */
    background-color: #FFFFFF;
    opacity: .5;
    border-radius: 25%;
  }

  .main_ar {
    position: absolute;
    top: 10px; /* Adjust as needed to position it at the top of the main_image */
    margin-top: 15px;
    left: 50%;
    transform: translateX(-50%); /* Center the text horizontally */
    z-index: 2; /* Place the text in front of the main_image */
    text-align: center;
    max-width: 1000px;
    color: #FFFFFF; /* Text color */
    background-color: none;
    opacity: .7;
    text-decoration-color: #012060;
    font-size: 25px;
  }
  
  .main_slog {
    position: absolute;
    bottom: 10px; /* Adjust as needed to position it at the bottom of the main_image */
    margin-bottom: 10px;
    left: 50%;
    transform: translateX(-50%); /* Center the text horizontally */
    z-index: 2; /* Place the text in front of the main_image */
    text-align: center;
    color: #FFFFFF; /* Text color */
    background-color: none;
    opacity: .7;
    text-decoration-color: #012060;
    font-size: 25px;
  }
}
.main_body_container {
    display: grid;
    grid-template-columns: 3fr 2fr; /* Two equal-width columns */
    grid-template-rows: 40px auto 40px auto 40px auto 40px auto; /* 8 rows 40px and 200px height */
    gap: 10px; /* Adjust the gap between grid items */
  
    /* Styling for grid items */
    .main_title {
      grid-column: span 2; /* Span across both columns */
      background: linear-gradient(to right, #012060, #fff); /* Background color for title rows */
      color: #fff; /* Text color for titles */
      padding: 5px;
      text-align: left;
      font-size: 25px;
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .main_text {
      grid-column: span 1; /* Span one column */
      padding: 10px;
      margin-left: 30px;
      margin-right: 20px;
      font-size: 18px;
    }
  
    .main_img_body {
      grid-column: span 1; /* Span one column */
      max-height: 180px;
      margin-left: 55px;
      align-self: center;
    }
  }

.main_search_button{
    display: block;
    color: #FFFFFF;
    background-color: #012060;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.main_search_button:hover{
    opacity: 0.8; /*se opaca texto al pasar cursor en items del footer*/
}

.Alexander_Graham{
    display: inline-block;
    margin-top: 10px;
    padding-left: 50px;
    background: linear-gradient(to bottom, #FFFFFF, #868686);
    color: #012060;
    font-weight: 600;
    padding-right: 50px;
}

/* About Body*/
.about_body_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* ]Tree equal-width columns */
    gap: 10px; /* Adjust the gap between grid items */

    .about_title{
        grid-column: span 3; /*aparece en 3 columnas*/
        margin-left: 100px;
        margin-top: 20px;
    }
    
    .about_main_text{
        grid-column: span 2; /*aparece en 2 columnas*/
        margin-left: 50px;
        margin-right: 50px;
        align-self: center;
    }

    .ar_team_img{
        max-height: 350px; /*set max heigh for team image*/
        align-self: center; /*centrer the image in the grid */
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .about_text{
        margin-left: 50px;
        margin-right: 50px;
        justify-content: center;
        grid-column: span 3;
    }
}

.timeline_container{
    position: relative;
    max-width: 90%;
    margin: 100px auto;
}

.timeline_event{
    padding: 10px 50px;
    position: relative;
    width: 50%;
}

.timeline_content{
    padding: 20px 30px;
    background: #FFFFFF;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.timelaine_content h3{
    font-weight: 700;
}

.timeline_content small{
    display: inline-block;
    margin-bottom: 15px;
}

.timeline_left{
    left: 0;
}

.timeline_right{
    right: -50%; /*container aparece en la derecha*/
}

.left_container_arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 30%;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #012060;
    right: -15px;
}

.right_container_arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 30%;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #012060;
    left: -15px;
    rotate: 180deg;
}

.timeline_img{
    position: absolute;
    max-width: 100px; /*set max heigh for team image*/
    align-self: center; /*centrer the image in the grid */
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    left: -5.5%; /*alineamos al centro la imagen del texto de la derecha*/
    top: 32px;
    z-index: 2;
}

.timeline_img_left{
    left: 94.5%; /*alineamos al centro la imagen del texto de la izquierda*/
}

.timeline_container::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: #012060;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 4s linear forwards;
}

@keyframes moveline{
    0%{height: 0;}
    100%{height: 100%;}
}

/* Manufacturers Body*/
.manufacturers_title{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Tree equal-width columns */
    align-items: center;

    .main_manufacturers{
        margin-top: 20px;
        margin-bottom: 40px;
        justify-self: center;
    }
}

#principal_accordion{
    margin: 100px;
    width: 90%;
}

#principal_accordion li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
}

#principal_accordion li label{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    color: #012060;
}

#principal_accordion li label span{
    transform: rotate(90deg);
    font-size: 22px;
    font-weight: 700;
    color: #012060;
}

#principal_accordion label + input[type="radio"]{
    display: none;
}

#principal_accordion .principals_content{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.001s;
}

#principal_accordion label + input[type="radio"]:checked + .principals_content{
    max-height: 100%;
}

.principals_content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(1fr);
    gap: 30px;
    margin: 50px; /* 20px margin left and right */
}
  
.principals_content li {
    text-align: center;
    list-style: none;
}
  
.principal_logo img {
    width: 100%;
    max-height: 500px;
    border-radius: 5px;
    border: 1px solid #ddd; /* Add a border for a clean look */;
    transition: transform 0.3s; /* Add a smooth hover effect */
}

.principal_logo img:hover {
    transform: scale(1.1); /* Increase the size on hover */
}

.principal_name {
    display: block;
    margin-top: 10px; /* Adjust as needed */
    text-decoration: none;
    color: #000; /* Adjust the color as needed */
    font-weight: bold;
}

@media (max-width: 768px) {
    .principals_content {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
  }